.main {
  display: flex;
  position: fixed;
  width: 88%;
  height: 3.5rem;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--background);
  z-index: 15;
  border: 1px solid var(--gray);
}

.main,
.sidebar {
  font-family: var(--font-geist-mono);
  font-weight: bold;
}

.navMobile {
  display: none;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav ul,
.sidebar ul {
  color: #bbbbbb;
  transition: color 100ms ease-in-out;
}
.nav ul a:hover,
.sidebar ul a:hover {
  color: var(--foreground);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.btnCv,
.btnCv button,
.btnHire,
.showSidebar {
  all: unset;
  cursor: pointer;
}

.btnCv,
.btnHire {
  border-radius: 10px;
}
.main .btnCv,
.main .btnHire {
  padding: 0.3rem 1rem;
  height: 2rem;
}

.btnCv,
.btnCv button,
.btnHire {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnCv {
  border: 1px solid #999999;
  transition: border-color 150ms ease-in-out;
}

.btnCv:hover {
  border-color: var(--foreground);
}

.btnHire {
  color: var(--background);
  animation: colors 5s infinite, textColor 5s infinite;
  animation-direction: alternate;
  transition: all 100ms ease-in-out;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  right: -100%;
  background-color: var(--background);
  padding-top: 6rem;
  width: 100%;
  height: 100vh;
  z-index: 11;
}

.sidebar.active {
  right: 0;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  padding: 2rem;
  font-size: 2rem;
}

.sidebar .buttons {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  height: 5.5rem;
  margin-bottom: 1rem;
}

.sidebar .btnHire,
.sidebar .btnCv {
  width: 50%;
  height: 100%;
  padding: 1rem;
}

.showSidebar:focus svg {
  animation: rotate 1s ease-out;
}
@keyframes colors {
  0% {
    background-color: #000b58;
  }
  25% {
    background-color: #003161;
  }
  50% {
    background-color: #006a67;
  }
  100% {
    background-color: #fff4b7;
  }
}

@keyframes textColor {
  0% {
    color: #ffffff;
  }
  25% {
    color: #ffffffcb;
  }
  50% {
    color: #0c0c0c;
  }
  100% {
    color: #000000;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    display: none;
  }
  .navMobile {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}
